*{
    margin: 0px;
    padding: 0px;
}

nav > a{
    margin: 20px 0px 20 px 20px;
}


form{
    width: 90%;
    max-width: 400px;
    background-color: rgba(61, 2, 222, 0.819);
    margin: auto;
    padding: 20px;
    text-align: center;
}

footer{
    padding: 20px;
    margin-top:10px;
    background-color:rgba(131, 50, 50, 0.819);
    color: white;
}
